<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="visaUrl" value="{put your visa endpoint here}" />
    <add key="cert" value="{put the path to the certificate file here}" />
    <add key="password" value="{put your password here}" />
    <add key="certPassword" value="{put your certificate password here}" />
    <add key="userId" value="{put your user id here}" />
    <add key="sharedSecret" value="{put your shared secret here}" />
    <add key="apiKey" value="{put your api key here}" />
    <add key="vctcTestPan" value="{put your pan number from test data under consumer rules api -> register a card here}" />
    <add key="vtaServiceId" value="{put your vta service id here}" />
    <add key="vtaCustomerId" value="{put your vta customer id here}" />
    <add key="vtaCommunityCode" value="{put your vta community code here}" />
    <add key="vtaPortfolioNumber" value="{put your portfolio number here}" />
    <add key="vtaCreateCustomerAddress" value='{put your vta create customer address here}' />
    <add key="vtaCreateCustomerCardExpiryDate" value="{put your vta create customer card expiry date here}" />
    <add key="vtaCreateCustomerCardNumber" value="{put your vta create customer card number here}" />
    <add key="vtaCreateCustomerCardSecurityCode" value="{put your vta create customer card security code here}" />
    <add key="vtaCreateCustomerLastFour" value="{put your vta create customer last four here}" />
    <add key="vtaCreateCustomerIsActive" value="{put your vta create customer isActive here}" />
    <add key="vtaCreateCustomerPreferedCountryCode" value="{put your vta create customer prefered  country code here}" />
    <add key="vtaCreateCustomerPreferedCurrencyCode" value="{put your vta create customer prefered  currency code here}" />
    <add key="vtaCreateCustomerPreferedLanguage" value="{put your vta create customer prefered  language here}" />
    <add key="vtaCreateCustomerPreferedTimeZone" value="{put your vta create customer prefered  time zone here}" />
    <add key="vtaReplaceCardNewAddress" value='{put your vta replace card address here}' />
    <add key="vtaReplaceCardExpiryDate" value="{put your vta replace card expiry date here}" />
    <add key="vtaReplaceCardSecurityCode" value="{put your vta replace card security code here}" />
    <add key="vtaReplaceCardNumber" value="{put your vta replace card number here}" />
    <add key="vtaReplaceCardLastFour" value="{put your vta replace card last 4 digits here}" />
    <add key="vtaNotificationContactType" value="{put your vta notification contact type here}" />
    <add key="vtaPreferredLanguageCode" value="{put your vta notification preferred language here}" />
    <add key="tnsPartnerBid" value="{put your visa notification service partner bid here}" />
    <add key="tnsCardNumbers" value="{put your visa travel notification service card account numbers here}" />
    <add key="mlcIssuerId" value="{put your mlc issuer id here}" />
    <add key="mlcDeviceId" value="{put your mlc device id here}" />
    <add key="mlcClientMessageID" value="{put your mlc client message id here}" />
    <add key="mlcPrimaryAccountNumber" value="{put your mlc primary account number here}" />    
    <add key="mlcMessageId" value="{put your mlc message id here}" />
    <add key="checkoutCallId" value="{put your visa checkout callId here}" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
